*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-weight: 400

html
  display: flex
  justify-content: center

body
  display: flex
  flex-direction: column
  width: clamp(375px, 100%, 1920px)

header
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: clamp(300px, 30vw, 500px)

  .titleContainer
    grid-column: 1
    grid-row: 1
    margin-top: clamp(1px, 5vw, 70px)
    height: fit-content

  .personalPresentation
    grid-column: 1
    grid-row: 2

  figure
    grid-column: 2
    grid-row: 1 / 2

    img
      width: 100%

h1, h2
  margin-top: clamp(1px, 1vw, 20px)
  margin-bottom: clamp(1px, 2vw, 50px)
  margin-left: clamp(20px, 5vw, 100px)
  font-family: "Noto Serif", serif
  font-style: italic
  font-weight: 600

h1
  font-size: clamp(20px, 5vw, 70px)
  color: darkcyan

h2
  font-size: clamp(20px, 4vw, 50px)
  color: lightseagreen
