:root {
  --primaryColor: darkcyan;
  --secondaryColor: lightseagreen;
  --contactMe-backgroundColor: #20b2aa4d;
  --transitionDuration: 500ms;
  --darkTheme-backgroundColor: #1e1e1e;
  --darkTheme-textColor: #f5f5f5;
  --darkTheme-primaryColor: #00e0e0ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: math;
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  width: clamp(320px, 100%, 1920px);
}
body.darkTheme {
  background-color: var(--darkTheme-backgroundColor);
  color: var(--darkTheme-textColor);
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header .titleContainer {
  grid-column: 1;
  grid-row: 1;
  margin-top: clamp(1px, 5vw, 70px);
}
header h1, header h2 {
  margin-top: clamp(1px, 1vw, 20px);
  margin-bottom: clamp(1px, 2vw, 50px);
  margin-left: clamp(20px, 5vw, 100px);
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: 600;
}
header h1 {
  font-size: clamp(20px, 5vw, 70px);
  color: var(--primaryColor);
}
header h1.darkTheme {
  color: var(--darkTheme-primaryColor);
}
header h2 {
  font-size: clamp(20px, 4vw, 50px);
  color: var(--secondaryColor);
}
header .contactMe {
  grid-column: 2;
  grid-row: 1;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 10%;
  margin-left: 5%;
  padding: clamp(20px, 1vw, 50px);
  border-radius: 25px;
  text-decoration: none;
  color: var(--primaryColor);
  background-color: var(--contactMe-backgroundColor);
  font-size: clamp(12px, 1.5vw, 24px);
  z-index: 10;
}
header .contactMe.darkTheme {
  color: #003737;
  background-color: var(--darkTheme-primaryColor);
}
header .contactMe:hover {
  color: white;
  background-color: rgba(32, 178, 170, 0.6117647059);
}
header .personalPresentation {
  grid-column: 1;
  grid-row: 2;
  padding: clamp(20px, 3vw, 50px);
  font-size: clamp(18px, 1.5vw, 24px);
  line-height: clamp(25px, 2vw, 35px);
}
header .bold, header .bold strong {
  font-weight: 700;
}
header figure {
  grid-column: 2;
  grid-row: 1/3;
  width: -moz-fit-content;
  width: fit-content;
  height: clamp(300px, 50vw, 800px);
  align-self: end;
  justify-self: center;
  opacity: 1;
  transition: opacity var(--transitionDuration);
}
header figure img {
  height: 100%;
}
header .linearGradient {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  width: 100%;
  height: 80%;
  background: linear-gradient(180deg, transparent, white);
}
header .linearGradient.darkTheme {
  background: linear-gradient(180deg, transparent, var(--darkTheme-backgroundColor));
}
header .themeToggle {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px;
  transition: background-color 0.3s;
}
header .themeToggle:hover {
  background-color: #0056b3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .slider {
  display: flex;
  justify-content: space-evenly;
  width: clamp(400px, 100%, 1440px);
}
main .slider .slides {
  display: flex;
}
main .slider .sliderArrow {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: clamp(50px, 15vw, 250px);
  border: none;
  background-color: transparent;
}
main .slider .sliderLeftArrow, main .slider .sliderRightArrow {
  font-size: clamp(60px, 12vw, 150px);
  color: var(--secondaryColor);
}
main .slider .slide {
  width: clamp(200px, 30vw, 500px);
  display: none;
}
main .slider .slide.active {
  display: block;
}
main .slider img {
  width: 100%;
}
main .slider figcaption {
  font-size: clamp(12px, 1.5vw, 24px);
}
main h3 {
  margin-top: clamp(30px, 8vw, 150px);
  margin-bottom: clamp(20px, 2vw, 50px);
  font-size: clamp(25px, 4.5vw, 50px);
  font-weight: 600;
  color: var(--secondaryColor);
}
main .engagements {
  max-width: 80vw;
  font-size: clamp(18px, 1.5vw, 24px);
  line-height: clamp(25px, 2vw, 35px);
}
main .toolsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(10px, 3vw, 20px);
  width: clamp(1px, 80vw, 1440px);
  margin: 0 auto clamp(30px, 10vw, 100px);
}
main .toolsContainer li {
  list-style-type: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: clamp(10px, 1vw, 20px);
  font-size: clamp(15px, 2.5vw, 30px);
}
main .toolsContainer li figure {
  display: flex;
  align-items: center;
}
main .toolsContainer li figure img {
  width: clamp(26px, 5.5vw, 60px);
}
main .toolsContainer li figure figcaption {
  margin-left: 10px;
}
main .toolsContainer .node {
  padding-top: clamp(4px, 1vw, 12px);
}
main .fontLinks {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin-bottom: clamp(30px, 10vw, 100px);
  font-size: clamp(12px, 1vw, 18px);
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  header .personalPresentation {
    grid-column: 1/3;
    grid-row: 3;
    padding: clamp(25px, 5vw, 50px);
  }
}
@media screen and (max-width: 767px) {
  header {
    grid-template-columns: none;
  }
  header .titleContainer {
    text-align: center;
  }
  header .titleContainer h1, header .titleContainer h2 {
    margin-left: 0;
  }
  header .contactMe {
    margin-left: 12vw;
  }
  header figure {
    grid-column: 1;
    grid-row: 2;
    margin-left: 27vw;
  }
  header .linearGradient {
    grid-column: 1;
    grid-row: 2;
  }
  header .contactMe {
    grid-column: 1;
    grid-row: 2;
  }
  header .personalPresentation {
    grid-row: 3;
  }
  main .toolsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  main .toolsContainer .react {
    padding-top: clamp(4px, 1vw, 12px);
  }
  main .toolsContainer .github {
    padding-top: clamp(8px, 1vw, 12px);
  }
}
@media screen and (max-width: 420px) {
  main .toolsContainer {
    width: clamp(1px, 100vw, 1440px);
  }
}/*# sourceMappingURL=style.css.map */